.menu {
  display: flex;
  justify-content: center;
  align-items:  center;
  gap: 1.4rem;
}

.menuLink {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.2rem;
  font-weight: bold;
  text-decoration: none;
  background: var(--primary);
  color: var(--text-over-primary);
  transition: all .3s ease-in-out;
  border-radius: .5rem;
  padding: 1rem;
}

.menuLink svg {
  width: 2.4rem;
  height: 2.4rem;
}

.menuLink:hover {
  filter: brightness(50%);
}
