.button {
  border: none;
  background: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 22rem;
  padding: .8rem;
  border-radius: .8rem;
  margin: 4.8rem 0;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.button svg {
  width: 3.4rem;
  height: 3.4rem;
  color: var(--text-over-primary);
}

.button:hover {
  filter: brightness(55%);
}

.green {
  background: var(--primary);
  color: var(--text-over-primary);
}

.red {
  background: var(--error);
  color: var(--text-over-error);
}
